.btn {
    font-family: 'DIN pro', sans-serif;
    font-size: 22px;
    line-height: 20px;
    text-transform: uppercase;
    padding: 20px 44px;
    border: none;
    background-color: var(--main-color);
    color: #fff;
    cursor: pointer;
    transition: all .3s;
    &:hover {
        box-shadow: 0 0 10px var(--main-color);
    }
}