.on {
    padding: 100px 0;
    background-color: var(--back-color-2);
    &__wrapper {
        display: flex;
        margin-top: 80px;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 30px;
        max-width: 387px;
        margin-bottom: 26px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__underlay {
        background-color: #fff;
        padding: 23px 23px 28px 23px;
        height: 100%;
    }
    &__photo {
        width: 100%;
        max-height: 340px;
        object-fit: cover;
        img, source {
            max-width: 100%;
        }
    }
    &__title {
        margin-top: 21px;
    }
    &__descr {
        margin-top: 40px;
    }
}